// Config inheritance options
params {
    generic_config_base = "https://raw.githubusercontent.com/sanger-pathogens/nextflow-commons/"
    generic_config_version = "master"
    generic_config_url = ""
}
inherit_generic_config()

manifest {
    name            = "<PROJECT>"
    author          = 'PAM Informatics'
    homePage        = 'https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/<PROJECT>'
    description     = '<Description>'
    mainScript      = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version         = 'v0.0.1'
    recurseSubmodules = "https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/assorted-sub-workflows/-/tags/strain_mapper%2Fv1.2.4; https://gitlab.internal.sanger.ac.uk/sanger-pathogens/pipelines/nextflowtool/-/tags/v0.0.2"
}

includeConfig "./assorted-sub-workflows/kraken2bracken/kraken2bracken.config"
includeConfig "./assorted-sub-workflows/qc/qc.config"

params {
    // Logging options
    monochrome_logs = false

    // Metadata options
    accession_type = 'sample'
    publish_metadata = false
    filter_manifest = ''

    // Output options
    outdir = "./results"
    manifest = ''
    lexicmap_search = false  // Experimental option - do not document!
    assembly_base = '/data/pam/collections/all_the_bacteria/0.2/assembly/'
    cobs_base = '/data/pam/collections/all_the_bacteria/0.2/indexes/phylign'
    cobs_threshold = 0.8 //default
    selection_method = 'top' //options are stepwise, random, top
    sketchlib_db = '/data/pam/collections/all_the_bacteria/0.2/indexes/sketchlib/atb_sketchlib_v020'
    index_prefix = ''
    samples = 1000 //set high to begin with to return all
    generate_tree = false //make a tree with rapidnj
    trim_tree = false //use treemer to subset this tree
    number_of_leaves = 10 //number of leaves to retain in tree if trimming
    deceplicate_bins = true
    cluster_method = 'network_based'
    representatives = 10
    make_gif = false
    download_fastq = false
    output_all_fastqs = false //output all downloaded fastqs regardless of whether they pass QC
    short_metacsv_name = true

    lexicmap_db = '/data/pam/collections/all_the_bacteria/0.2/indexes/lexicmap/metadata/atb_hq.lmi'

    // QC
    save_fastqc = true
}

// Helper functions
def inherit_generic_config() {
    config_url = params.generic_config_url ? params.generic_config_url : "${params.generic_config_base}/${params.generic_config_version}/configs/nextflow.config"
    try {
        includeConfig "${config_url}"
    } catch (Exception e) {
        System.err.println("ERROR: Could not load generic config: ${config_url}")
        System.err.println("Encountered the following exception:")
        throw e
    }
}
